@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Plus Jakarta Sans', sans-serif;
  }
}

.dragging {
  transition: transform 0.2s ease, background-color 0.2s ease;
}
.dragging-over {
  background-color: rgba(0, 0, 0, 0.05);
}

[data-rbd-drag-handle-draggable-id] {
  user-select: none; /* Mencegah teks terblokir saat drag */
}







:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(132, 26, 26, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-overflow-ellipsis {
  overflow: hidden; /* Sembunyikan teks yang melampaui batas */
  white-space: nowrap; /* Jangan bungkus teks ke baris baru */
  text-overflow: ellipsis; /* Tambahkan elipsis (...) pada teks yang terpotong */
}

.text-fit {
  font-size: clamp(0.8rem, 2.5vw, 1rem); /* Skala font responsif */
}

.card {
  width: 250px; /* Buat card lebih tirus */
  height: 220px; /* Buat card lebih tinggi */
  padding: 16px; /* Kurangi atau sesuaikan padding */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #0B1739;
  border-radius: 12px; /* Buat sudut melengkung */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Tambahkan bayangan */
  text-align: center;
}



a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.bg-white {
  background-color: transparent !important; /* Ubah elemen putih jadi transparan */
}

body {
  margin: 0;
 
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
